.auth-block {
    border: 1px solid #2bde8c;
    border-radius: 5px;
}
.auth-block h6 {
    font-size: 34px;
    color: #2bde8c;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 800;
}
.auth-input-block {
    border: 1px solid #f3f3f3;
    padding: 6px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0  10px #f3f3f3;
}

.auth-input-block label {
    font-size: 14px;
    display: block;
    color: gray;
    margin: 0;
    margin-bottom: 5px;
}

.auth-input-block input {
    display: block;
    width: 100%;
    border: none;
    color: #000;
    font-weight: 800;
    font-size: 14px;
}
.auth-block p {
    color: #5152ec;
    font-size: 14px;
    margin-top: 25px;
    font-weight: 300;
    text-align: center;
}

.auth-block p strong {
    font-weight: 700;
    color: #2bde8c;
    cursor: pointer;
}

:focus {
    outline: none;
}
button {
    outline: none;
}