

.secondary-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.experiences {
    padding: 30px 0;
}

.secondary-title h4 {
    font-size: 30px;
    font-weight: 700;
    color: #000;
}
